{% extends 'base.html.twig' %}

{% block body %}

{% for article in articles %}
    <a href="{{ path('get.article', {id: article.id}) }}"
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>
    {% if article.imageFile is not empty %}
        <img src="{{ vich_uploader_asset(article, 'imageFile') }}">
    {% endif %}
    </a>
{% endfor %}
{% endblock %}