<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous" defer></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous" defer></script>
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <header id="header">
			<a href="{{ path('article.all') }}" class="logo">My Symfony</a>
		</header>
        {% block body %}{% endblock %}
        <div id="copyright">
			<ul><li>Linkedin: <a href="https://www.linkedin.com/in/vylinas-anon-04b603148/">Vylinas</a></li><li>Github: <a href="https://github.com/Vylinas">Vylinas</a></li><li>Design: <a href="https://html5up.net">Thanks to HTML5 UP</a></li></ul>
		</div>
        {% block javascripts %}{% endblock %}
    </body>
</html>